{% extends 'structure/layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-3">
            <img src="{{ picture }}" class="img-responsive img-thumbnail ">
            <br>
            <br>
            <a href="{% url 'editProfile' %}" class="btn btn-success"><span
                    class="glyphicon glyphicon-thumbs-up"></span>
                Editar perfil</a>
        </div>
        <div class="col-lg-auto">
                <div class="row2">
                    <label class="col" for="Name">Name: {{ name }}</label>
                </div>
                <div class="row2">
                    <label class="col" for="Email">Email: {{ email }}</label>
                </div>
                <div class="row2">
                    <label class="col" for="NumTests">Number of Tests: {{ numtests }} </label>
                </div>
        </div>
        <div class="col-lg-auto">
                <div class="row2">
                    <label class="col" for="Nome">Register Date: {{ registerdate }} </label>
                </div>
                <div class="row2">
                    <label class="col" for="Nome">Role:
                        {% if role == 1 %}
                            Expert
                        {% else %}
                            Beginner
                        {% endif %}
                    </label>
                </div>
                <div class="col-lg-auto">
                    <button type="button" class="btn btn-secondary btn-sm">Solicit Rank Up</button>
                </div>



        </div>
        </div>
{% endblock %}