asgiref==3.2.5
bcrypt==3.1.7
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
Django==3.0.7
django-datetimepicker==3.14
django-fileprovider==0.1.4
django-private-files==1.0.1
django-private-storage==2.2.2
idna==2.9
jwt==1.0.0
mockito==1.2.1
paramiko==2.7.1
pycparser==2.20
PyNaCl==1.3.0
python-dotenv==0.12.0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
tornado==6.0.4
urllib3==1.25.9
webssh==1.5.2
webdriver-manager
selenium
django-prettyjson
