{% extends 'structure/layout.html' %}

{% block headers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        /* Style the search field */
        form.example input[type=text] {
            padding: 10px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
        }

        /* Style the submit button */
        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        /* Clear floats */
        form.example::after {
            content: "";
            clear: both;
            display: table;
        }</style>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <form method="post" action="{% url 'searchtestAdmin' %}" enctype="multipart/form-data"> {% csrf_token %}
                <div class="input-group-append">
                    <input type="text" class="form-control" id="content" name="content"
                           aria-label="Text input with segmented dropdown button" required>
                    <select id="type" name="type">
                        <option value="1">Name</option>
                        <option value="0">Date</option>
                    </select>
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Test Name</th>
            <th>Date</th>
            <th>Author</th>
            <th>Obs.</th>
        </tr>
        </thead>
        <tbody>
        {% for row in database %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.register_date }}</td>
                <td>{{ row.author }}</td>
                <td><a href="/checkTests/admin/{{ row.id }}" class="btn btn-primary"><i class="fa fa-info"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}