{% extends 'structure/layout.html' %}

{% block content %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Author</th>
            <th>Test Name</th>
            <th>Begin Date</th>
            <th>End Date</th>
            <th>Register Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ author }}</td>
            <td>{{ name }}</td>
            <td>{{ begin_date }}</td>
            <td>{{ end_date }}</td>
            <td>{{ register_date }}</td>
            <td>{{ status }}</td>
        </tr>
        </tbody>
    </table>
    {% if configs|length > 0%}
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>APU</th>
                <th>Experience</th>
                <th>File</th>
            </tr>
            </thead>
            <tbody>
                {% for row in configs %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.apu }}</td>
                    <td>{{ row.experience }}</td>
                    <td><a href="/openfile/{{ row.experience }}/{{ testID }}" target="_blank"><i class="fa fa-file"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}