{% extends 'structure/layout.html' %}

{% block content %}
    <div class="row">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}
    {% endif %}
        <div class="col-lg-2">
            <img src="{{ picture }}" class="img-responsive img-thumbnail ">
            <br>
            <br>
        </div>
        <div class="col-lg-10 ">
            <form class="form-horizontal" method="post" action="/users/process?id={{ userID }}&email={{ email }}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-lg-4" for="Name">Name</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="name" name="name" type="text"
                                   placeholder="Nome" value="{{ name }}" class="form-control input-lg" required readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4" for="Email">Email</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="email" name="email" type="email"
                                   placeholder="Email" value="{{ email }}" class="form-control input-lg" required readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-4" for="Nome">Role</label>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <select id="role" name="role">
                                <option value="1" {% if role == 1 %} selected="selected" {% endif %}  >Advanced</option>
                                <option value="0" {% if role == 0 %} selected="selected" {% endif %}>Beginner</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <input type="submit" value="Adicionar utilizador" class="btn btn-success"/>
                    </div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}