{% extends 'structure/layout.html' %}

{% block content %}
        <div class="row">
        <div class="col-lg-2">
            <img src="{{ picture}}" class="img-responsive img-thumbnail ">
            <br>
            <br>
            <a href="#" class="btn btn-success"><span
                    class="glyphicon glyphicon-thumbs-up"></span>
                Editar perfil</a>
        </div>
        <div class="col-lg-10 ">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-4" for="Name">Name: {{ name }}</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-4" for="Email">Email: {{ email }}</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-4" for="NumTests">Number of Tests: {{ numtests }} </label>
                </div>
                <div class="form-group">
                    <label class="col-lg-4" for="Nome">Register Date: {{ registerdate }} </label>
                </div>
                <div class="form-group">
                    <label class="col-lg-4" for="Nome">Role:
                        {% if role == 1 %}
                            Expert
                        {% else %}
                            Beginner
                        {% endif %}
                    </label>
                </div>
            </form>
        </div>

</div>
{% endblock %}