{% extends 'structure/layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'saveap' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-lg-6">
                <label for="APSSID">AP SSID</label>
                <input id="APSSID" name="APSSID" type="text" placeholder="AP SSID" class="form-control input-lg"
                       required>
            </div>
            <div class="col-lg-6">
                <label for="APPW">AP Password</label>
                <input id="APPW" name="APPW" type="password"
                       placeholder="AP Password" class="form-control input-lg">
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-lg-3">
                <label for="RangeStart">Range Start</label>
                <input id="RangeStart" name="RangeStart" type="text"
                       placeholder="AP Range Start" class="form-control input-lg" required>
            </div>
            <div class="col-lg-3">
                <label for="RangeEnd">Range End</label>
                <input id="RangeEnd" name="RangeEnd" type="text"
                       placeholder="AP Range End" class="form-control input-lg" required>
            </div>
            <div class="col-lg-3">
                <label for="Channel">Channel</label>
                <select id="Channel" name="Channel" class="form-control" required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="Channel">Channel</label>
                <select id="hw_mode" name="hw_mode" class="form-control" required>
                    <option>G</option>
                    <option>H</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-lg-6">
                <label for="DFGateway">Default Gateway</label>
                <input id="DFGateway" name="DFGateway" type="text"
                       placeholder="AP Default Gateway" class="form-control input-lg" required>
            </div>
            <div class="col-lg-6">
                <label for="Netmask">Network Mask</label>
                <input id="Netmask" name="Netmask" type="text"
                       placeholder="AP Netmask" class="form-control input-lg" required>
            </div>
        </div>
        <br>
        <div class="col-lg-12" style="text-align: center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-wifi"> Create Access Point</i></button>
        </div>
    </form>
{% endblock %}