{% extends 'structure/layout.html' %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}

    <h1>Create Iperf Client</h1>
    <hr>
    <form method="post" action="/network/create/Iperf/Client/save/{{ nodeID }}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row justify-content-center">
            <div class="col-md-5">
                <label>Protocol</label>
                <select id="protocol" name="protocol" required>
                    <option value="TCP">TCP</option>
                    <option value="UDP">UDP</option>
                </select>
            </div>
        </div>
        <br>
        <div class="form-row justify-content-center">
            <div class="col-md-5">
                <label for="ip">IP</label>
                <input id="ip" name="ip" type="text"
                       placeholder="IP, eg, 192.168.0.1" class="form-control input-lg">
            </div>
        </div>
        <br>
        <div class="form-row justify-content-center">
            <div class="col-md-5">
                <label for="port">Port</label>
                <input id="por" name="port" type="text"
                       placeholder="Port, eg, 5000" class="form-control input-lg">
            </div>
        </div>
        <br>
        <div class="form-row justify-content-center">
            <div class="col-md-5">
                <label for="time">Time</label>
                <input id="time" name="time" type="text"
                       placeholder="Time" class="form-control input-lg" value="">
            </div>
        </div>
        <br>
        <div class="form-row justify-content-center">
            <div class="col-md-5">
                <label for="mtu">MTU</label>
                <input id="mtu" name="mtu" type="text"
                       placeholder="Length of the buffer, default 8Kb" class="form-control input-lg">
            </div>
        </div>
        <br>
        <div class="form-row justify-content-center">
            <div class="col-md-5">
                <label for="bandwidth">Bandwidth</label>
                <input id="bandwidth" name="bandwidth" type="text"
                       placeholder="Bandwidth to send at (Required for UDP, default 1Mbit/sec)"
                       class="form-control input-lg" value="">
            </div>
        </div>
        <div class="form-row justify-content-center">
            <div class="col-md-5">
                <label>Reverse</label>
                <select id="protocol" name="protocol" required>
                    <option value="on">On</option>
                    <option value="">Off</option>
                </select>
            </div>
        </div>
        <br>

        <br>
        <div class="col-lg-12" style="text-align: center">
            <button type="submit" class="btn btn-primary"><i class="fa fa-wifi"></i> Create Iperf Client</button>
        </div>
    </form>

{% endblock %}