{% extends 'structure/layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}
    {% endif %}
    <div class="row justify-content-xs-between">
        <div class="col-lg-3">
            <img src="{{ picture }}" class="rounded img-responsive img-thumbnail ">
        </div>
        <div class="col-lg-auto">
            <br></br>
            <br></br>
            <div class="row2">
                <label class="col" for="Name">Name: {{ name }}</label>
            </div>
            <div class="row2">
                <label class="col" for="Email">Email: {{ email }}</label>
            </div>
            <div class="row2">
                <label class="col" for="NumTests">Number of Tests: {{ numtests }} </label>
            </div>
        </div>
        <div class="col-lg-auto">
            <br></br>
            <br></br>
            <div class="row2">
                <label class="col" for="Nome">Register Date: {{ registerdate }} </label>
            </div>
            {% if not user.is_superuser %}
                <div class="row2">
                    <label class="col" for="Nome">Role:
                        {% if role == 1 %}
                            Expert
                        {% else %}
                            Beginner
                        {% endif %}
                    </label>
                </div>
            {% endif %}
            {% if not user.is_superuser %}
                {% if role == 0 %}
                    <div class="row">
                        <a class="btn btn-link" id="upRank" href="{% url 'rankupreq' %}">
                            <u>Solicit Rank Up</u>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <a href="{% url 'editProfile' %}" class="btn btn-success"><span
                class="glyphicon glyphicon-thumbs-up"></span>
            Editar perfil</a>
    </div>
{% endblock %}