{% extends 'structure/layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}
    {% endif %}
    <br></br>
    <div class="card mb-3" style="max-width: available">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ picture }}" class="img-responsive img-thumbnail ">
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <h5 class="card-title">User Profile</h5>
                    <p class="card-text">Name: {{ name }}</p>
                    <p class="card-text">Email: {{ email }}</p>
                    <p class="card-text">Number of Tests: {{ numtests }}</p>


                    <p class="card-text">Register Date: {{ registerdate }}</p>
                    <p class="card-text">Role:
                        {% if role == 1 %}
                            Expert
                        {% else %}
                            Beginner
                        {% endif %}</p>
                    {% if not user.is_superuser %}
                        {% if role == 0 %}
                            <div class="row">
                                <a class="btn btn-link" id="upRank" href="{% url 'rankupreq' %}">
                                    <u>Solicit Rank Up</u>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}

                    <a href="{% url 'editProfile' %}" class="btn btn-success"><span
                            class="glyphicon glyphicon-thumbs-up"></span>
                        Editar perfil</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}