{% extends 'structure/layout.html' %}

{% block headers %}
    <style>
        table {
            table-layout: fixed;
            width: 100%;
        }

        td {
            width: 25%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ hostname }} - Information</h1>
        <hr>
        {% for i in database %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <td><strong>{{ i.name }}</strong></td>
                    <td>Address</td>
                    <td>Broadcast</td>
                    <td>Netmask</td>
                    <td>Peer</td>
                    <td>MAC</td>
                    <td>
                        <a href="http://localhost:8888/?hostname={{ i.ip }}&username={{ username }}&password={{ password }}"
                           target="_blank"
                           rel="noopener noreferrer"
                           class="btn btn-success">Abrir Terminal</a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr>
                    {% for row in i.end %}
                        <td></td>
                        <td>{{ row.addr }}</td>
                        <td>{{ row.broadcast }}</td>
                        <td>{{ row.netmask }}</td>
                        <td>{{ row.peer }}</td>
                        <td>{{ i.mac }}</td>
                        <td></td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        {% endfor %}

    </div>
{% endblock %}