{% extends 'structure/layout.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ hostname }} - Information</h1>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-warning" href="/network/createIpServer/{{ nodeID }}"><i class="fa fa-wifi"> Create Iperf Server</i></a>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-warning" href="/network/createIpClient/{{ nodeID }}"><i class="fa fa-wifi"> Create Iperf Client</i></a>
            </div>
            <div class="col-lg-2">
                {% if access == 1 %}
                    <a class="btn btn-warning" href="/network/createAP/{{ nodeID }}"><i class="fa fa-wifi"> Create Access Point</i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <table class="table table-responsive-lg table-hover" style="text-align: center">
        <thead class="thead-dark">
        <tr>
            <th>Interface</th>
            <th>Address</th>
            <th>Broadcast</th>
            <th>Netmask</th>
            <th>Peer</th>
            <th>MAC</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for i in database %}
            <tr>
                {% for row in i.end %}
                    <td><strong>{{ i.name }}</strong></td>
                    <td>{% if row.addr is None %} - {% else %}{{ row.addr }}{% endif %}</td>
                    <td>{% if row.broadcast is None %} - {% else %}{{ row.broadcast }}{% endif %}</td>
                    <td>{% if row.netmask is None %} - {% else %}{{ row.netmask }}{% endif %}</td>
                    <td>{% if row.peer is None %} - {% else %}{{ row.peer }}{% endif %}</td>
                    <td>{% if i.mac  is None %} - {% else %}{{ i.mac }}{% endif %}</td>
                    <td>
                        {% if i.name|first in 'w' %}
                            <div class="container" style="text-align: center">
                                <a class="btn btn-primary" href="/network/interface/{{ nodeID }}/{{ i.name }}/scan"
                                   rel="noopener noreferrer"><i class="fa fa-wifi"></i><span> Scan</span></a>
                                <a class="btn btn-danger" href="/network/interface/{{ nodeID }}/{{ i.name }}/down"
                                   rel="noopener noreferrer"><i class="fa fa-power-off"></i><span> Turn off</span></a>
                            </div>
                        {% else %}
                            <div class="container" style="text-align: center">
                                {% if access == 1 %}
                                    {% if i.ip == '127.0.0.1' %}
                                        No action available
                                    {% else %}
                                        {% if role == 1 %}
                                            <a href="http://localhost:8888/?hostname={{ i.ip }}&username={{ username }}&password={{ password }}"
                                               target="_blank"
                                               rel="noopener noreferrer"
                                               class="btn btn-secondary"><strong><i class="fa fa-terminal"></i></strong><span> Open terminal</span></a>
                                        {% else %}
                                            No action available
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if aps|length > 0 %}
        <h1>Scan Results</h1>
        <hr>
        <table class="table table-responsive-lg table-hover" style="text-align: center; table-layout: fixed">
            <thead class="thead-dark">
                <tr>
                    <th>Ch.</th>
                    <th>Encryption</th>
                    <th>ESSID</th>
                    <th>Frequency</th>
                    <th>MAC</th>
                    <th>MODE</th>
                    <th>Signal Level</th>
                    <th>Signal Quality</th>
                    <th>Signal Total</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
            {% for i in aps %}
                <tr>
                    <td>{{i.channel}}</td>
                    <td>{{i.encryption}}</td>
                    <td>{{i.essid}}</td>
                    <td>{{i.frequency}} {{i.frequency_units}}</td>
                    <td>{{i.mac}}</td>
                    <td>{{i.mode}}</td>
                    <td>{{i.signal_level_dBm}}</td>
                    <td>{{i.signal_quality}}</td>
                    <td>{{i.signal_total}}</td>
                    <td><a href="/network/interface/{{ nodeID }}/{{ i.name }}/up"
                                   class="btn btn-success"><i class="fa fa-power-off"></i><span> Connect</span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if database2|length > 0 %}
        <h1>Down interfaces</h1>
        <hr>
        <table class="table table-responsive-lg table-hover" style="text-align: center; table-layout: fixed">
            <thead class="thead-dark">
            <tr>
                <th>Interface</th>
                <th>MAC</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for i in database2 %}
                    {% if i.name|first in 'w' %}
                        <td><strong>{{ i.name }}</strong></td>
                        <td>{{ i.mac }}</td>
                        <td>{% if access == 1 %}
                            {% if role == 1 %}
                                <a href="/network/interface/{{ nodeID }}/{{ i.name }}/up"
                                   class="btn btn-success"><i class="fa fa-power-off"></i><span> Turn on</span></a>
                            {% endif %}
                        {% endif %}
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if ongoing == 1 %}
        {% if access == 1 %}
            {% if isAdmin == 1 %}
                <h5><strong>OBS:</strong> there is on ongoing test. you can interact with this node using your admin
                    permissions.</h5>
            {% endif %}
        {% else %}
            {% if role == 0 %}
                <h5><strong>OBS:</strong> there is on ongoing test! you can't interact with this node because you
                    are a beginner.</h5>
            {% endif %}
        {% endif %}
    {% else %}
        {% if isAdmin == 1 %}
            <h5><strong>OBS:</strong> there is on ongoing test you can interact with this node using your admin
                permissions.</h5>
        {% else %}
            <h5><strong>OBS:</strong> there is no on ongoing test!
            </h5>
            <h5>To interact with this node please <a href="{% url 'calendar' %}">book an experience.</a></h5>
        {% endif %}
    {% endif %}
{% endblock %}