{% extends 'structure/layout.html' %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 100px 100px 100px 100px 100px;
            grid-template-rows: 170px 170px 170px 170px;
        }

    </style>


{% endblock %}

{% block content %}
    <h1><b>Network Status</b></h1>
    <br></br>
    <div class="row justify-content-center">
        <div class="grid-container">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-2">
                <a href="1">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU3
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-3">
                <a href="2">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU7
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-3">
                <a href="3">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                </a>
            </div>
            <div class="grid-item-3">
                <a href="4">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-3">
                <a href="5">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-2">
                <a href="6">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                </a>
            </div>
            <div class="grid-item"></div>
        </div>
    </div>
{% endblock %}