{% extends 'structure/layout.html' %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .grid-container {
            display: grid;
            grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px;
            grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
        }

    </style>

    <style>
        .img-thumbnail {
            border-width: 0;
            background: #ced4da;
        }

        .my_container {
            background: #ced4da;
        }

        .my_grid_item {
            background: #2d2d2d;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="grid-container my_container" >
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 1
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 2
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/3">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 3
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 4
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/5">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 5
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 24
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 6
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 23
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/7">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 7
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 22
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-3">
                <a href="/network/status/8">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 8
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 21
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 9
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 20
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-3">
                <a href="/network/status/10">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 10
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-3">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 19
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-2">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 11
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item-3">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 18
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item my_grid_item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 12
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">Porta do Telhado</div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 17
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 16
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/3">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 15
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 14
                </a>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <a href="/network/status/5">
                    <img src="{% static 'img/router.png' %}" class="rounded img-thumbnail">
                    APU 13
                </a>
            </div>
        </div>
    </div>
{% endblock %}