{% extends 'structure/layout.html' %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'evo-calendar/css/evo-calendar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'evo-calendar/css/evo-calendar.royal-navy.css' %}"/>
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script> {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container">
        <br>
        <br>
        <div class="col-lg-12" style="text-align: end">
            <a href="{% url 'registertest' %}" class="btn btn-primary">
                <span class="glyphicon glyphicon-thumbs-up"></span>Register Test</a>

        </div>
        <br>
        <div id="evoCalendar"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'evo-calendar/js/evo-calendar.js' %}"></script>

        <script>
            $('#evoCalendar').evoCalendar({
                theme: 'Royal Navy',
                calendarEvents: {% autoescape off %} {{ database }}
                {% endautoescape %}
            })
        </script>
    </div>

{% endblock %}