{% extends 'structure/layout.html' %}
{% load static %}

{% block headers %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'evo-calendar/css/evo-calendar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'evo-calendar/css/evo-calendar.royal-navy.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>

        {% for i in database %}
            {{ i }}
        {% endfor %}

        <a href="{% url 'registertest' %}" class="btn btn-success">
            <span class="glyphicon glyphicon-thumbs-up"></span>Register Test</a>

        <div id="calendar"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'evo-calendar/js/evo-calendar.js' %}"></script>

        <script>
            $('#calendar').evoCalendar({
                theme: 'Royal Navy',

                calendarEvents: {{ database }} ,

            })
        </script>
    </div>

{% endblock %}